.env
etudiant-service/HELP.md
etudiant-service/target/
etudiant-service/.mvn/wrapper/maven-wrapper.jar
etudiant-service/!**/src/main/**/target/
etudiant-service/!**/src/test/**/target/

### IntelliJ IDEA ###
etudiant-service/.idea
etudiant-service/*.iws
etudiant-service/*.iml
etudiant-service/*.ipr

### VS Code ###
etudiant-service/.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
mobile_app/.DS_Store
mobile_app/.atom/
mobile_app/.build/
mobile_app/.buildlog/
mobile_app/.history
mobile_app/svn/
mobile_app/.swiftpm/
mobile_app/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.pub-cache/
mobile_app/.pub/
mobile_app/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

